@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "NanumSquare", sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  @apply bg-primary hover:bg-primaryHover text-white py-2 px-4 rounded font-bold;
}
